<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ1OGvAvGKoOzvc8evKzVZFgrFsKcePKg</string>
	<key>GCM_SENDER_ID</key>
	<string>717175042160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saveTheBall</string>
	<key>PROJECT_ID</key>
	<string>save-the-ball-10</string>
	<key>STORAGE_BUCKET</key>
	<string>save-the-ball-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717175042160:ios:aa5ccedf9e047aae8104b5</string>
</dict>
</plist>